<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safewind.webfont.dao.ConsumerDao">

	
	
	<select id="ConsumerInfo" resultType="com.safewind.webfont.bean.Consumer" parameterType="int">
		select personalized_signature,phone,tel,nickname,sex,work_place,email,qq_num,
		wechat_num,company_name,company_industry from t_consumer where id=#{id}
	
	</select>
	
	<update id="ConsumerRepost" >
		update t_consumer 
		set 
		nickname = #{nickname}, 
		sex =#{sex} , 
		tel=#{tel},
		work_place =#{workPlace} , 
		email =#{email} , 
		qq_num = #{qqNum}, 
		wechat_num =#{wechatNum}, 
		company_name = #{companyName}, 
		company_industry =#{companyIndustry} 
		where id = #{id}
	</update>
	
	<select id="PhoneInfo" parameterType="int" resultType="String">
		select phone from t_consumer where id = #{id}
	</select> 
	
	<update id="ChangePhone">
		update  t_consumer  
		
		set phone = #{1} 
		
		where id = #{0}
	</update>
	
</mapper>