<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safewind.webfont.dao.FontDao">

    <!--////////////////////select start////////////////////////////-->
    <!--查询字体列表-->
    <select id="queryFontList" resultType="com.safewind.webfont.bean.Font">
        SELECT id,name,manufacturer_id,type_id,encoding_id,phylum_id,style_id,copyright_message,
        used_time,collected_time,recommended_time,upload_time,is_opensourced,is_genuine
        FROM t_font
        WHERE phylum_id = 2
        AND is_opensourced = 0
        ORDER BY used_time
        DESC
    </select>

    <!--计算字体的总数目-->
    <select id="countAllFont" resultType="java.lang.Long">
        SELECT COUNT(*) FROM t_font WHERE 1=1;
    </select>

    <!--分页精确查询 得到字体
     @param map 含有属性  查询开始  | 结束
                 属性名：
                    manufacturerId    厂商id
                    typeId            类型id
                    encodingId        编码id
                    phylumId          语系id
                    styleId           风格id
                    dbIndex
                    dbNumber
                    默认是：manufacturer 信黑 1  type 黑体 10  encoding 繁体中文 2
                           phylum  中文 2  style 精致综艺 10 -->
    <select id="pageExactSearchFontList" resultType="com.safewind.webfont.bean.Font" parameterType="java.util.Map" >
        SELECT id,name,manufacturer_id,type_id,encoding_id,phylum_id,style_id,copyright_message,
        used_time,collected_time,recommended_time,upload_time,is_opensourced,is_genuine
        FROM t_font
        WHERE
        is_opensourced = 0
        <if test="manufacturerId != 0">
            AND  manufacturer_id=#{manufacturerId}
        </if>
        <if test="typeId != 0">
            AND type_id=#{typeId}
        </if>

        <if test="encodingId != 0">
            AND encoding_id=#{encodingId}
        </if>
        <if test="phylumId != 0">
            AND phylum_id=#{phylumId}
        </if>
        <if test="styleId != 0">
            AND style_id=#{styleId}
        </if>
        <choose>
            <when test="sort = 2">
                ORDER BY recommended_time DESC
            </when>
            <when test="sort = 3">
                ORDER BY collected_time DESC
            </when>
            <when test="sort = 4">
                ORDER BY upload_time DESC
            </when>
            <otherwise>
                ORDER BY used_time  DESC
            </otherwise>
        </choose>
        LIMIT #{dbIndex},#{dbNumber}
    </select>

    <!--精确查询 得到字体数目-->
    <select id="countExactSearchFontList" parameterType="java.util.Map" resultType="java.lang.Long">
        SELECT COUNT(*)
        FROM t_font
        WHERE
        is_opensourced = 0
        <if test="manufacturerId != 0">
            AND  manufacturer_id=#{manufacturerId}
        </if>
        <if test="typeId != 0">
            AND type_id=#{typeId}
        </if>

        <if test="encodingId != 0">
            AND encoding_id=#{encodingId}
        </if>
        <if test="phylumId != 0">
            AND phylum_id=#{phylumId}
        </if>
        <if test="styleId != 0">
            AND style_id=#{styleId}
        </if>
    </select>

    <!--用于模糊查询(页面搜索框 含有：字体名，厂商，类型，风格)-->
    <select id="fuzzyQueryFontList" resultType="com.safewind.webfont.bean.Font" parameterType="java.lang.String">
        SELECT id,name,manufacturer_id,type_id,encoding_id,phylum_id,style_id,copyright_message,
        used_time,collected_time,recommended_time,upload_time,is_opensourced,is_genuine
        FROM t_font
        <where>
            <if test="_parameter != null">
                name LIKE CONCAT(CONCAT('%', #{_parameter}), '%')
                OR
                manufacturer_id =
                      (SELECT id FROM t_manufacturer WHERE name LIKE CONCAT(CONCAT('%', #{_parameter}), '%') LIMIT 0,1)
                OR
                type_id =
                      (SELECT id FROM t_type WHERE name LIKE CONCAT(CONCAT('%', #{_parameter}), '%') LIMIT 0,1)
                OR
                style_id =
                      (SELECT id FROM t_style WHERE name LIKE CONCAT(CONCAT('%', #{_parameter}), '%') LIMIT 0,1)
            </if>
        </where>
    </select>

    <!--用于分页模糊查询 查询的数量-->
    <select id="pageFuzzyQueryFontList" resultType="com.safewind.webfont.bean.Font" parameterType="java.util.Map">
        SELECT id,name,manufacturer_id,type_id,encoding_id,phylum_id,style_id,copyright_message,
        used_time,collected_time,recommended_time,upload_time,is_opensourced,is_genuine
        FROM t_font
        <where>
            <if test="searchKeyword != null">
                name LIKE CONCAT(CONCAT('%', #{searchKeyword}), '%')
                OR
                manufacturer_id =
                (SELECT id FROM t_manufacturer WHERE name LIKE CONCAT(CONCAT('%', #{searchKeyword}), '%') LIMIT 0,1)
                OR
                type_id =
                (SELECT id FROM t_type WHERE name LIKE CONCAT(CONCAT('%', #{searchKeyword}), '%') LIMIT 0,1)
                OR
                style_id =
                (SELECT id FROM t_style WHERE name LIKE CONCAT(CONCAT('%', #{searchKeyword}), '%') LIMIT 0,1)
            </if>
            AND is_opensourced = 0
        </where>
        ORDER BY used_time
        DESC
        LIMIT #{dbIndex},#{dbNumber};
    </select>

    <!--用于模糊查询(页面搜索框 含有：字体名，厂商，类型，风格) 字体的数量-->
    <select id="countFuzzyQueryFont" resultType="java.lang.Long" parameterType="java.lang.String">
        SELECT COUNT(*)
        FROM t_font
        <where>
            <if test="_parameter != null">
                name LIKE CONCAT(CONCAT('%', #{_parameter}), '%')
                OR
                manufacturer_id =
                (SELECT id FROM t_manufacturer WHERE name LIKE CONCAT(CONCAT('%', #{_parameter}), '%') LIMIT 0,1)
                OR
                type_id =
                (SELECT id FROM t_type WHERE name LIKE CONCAT(CONCAT('%', #{_parameter}), '%') LIMIT 0,1)
                OR
                style_id =
                (SELECT id FROM t_style WHERE name LIKE CONCAT(CONCAT('%', #{_parameter}), '%') LIMIT 0,1)
            </if>
        </where>

    </select>

    <!--用于分页查询 查询的数量-->
    <select id="pageQueryFontList" resultType="com.safewind.webfont.bean.Font" parameterType="com.safewind.webfont.util.Page">
        SELECT id,name,manufacturer_id,type_id,encoding_id,phylum_id,style_id,copyright_message,
                used_time,collected_time,recommended_time,upload_time,is_opensourced,is_genuine
        FROM t_font
        ORDER BY id
        LIMIT #{dbIndex},#{dbNumber};
    </select>

    <!--查询字体的详细信息   根据字体的id-->
    <select id="findFontDetailById" resultType="com.safewind.webfont.bean.Font" parameterType="java.lang.Integer">
        SELECT id,name,manufacturer_id,type_id,encoding_id,phylum_id,style_id,copyright_message,
                used_time,collected_time,recommended_time,upload_time,is_opensourced,is_genuine
        FROM t_font
        WHERE id=#{id};
    </select>

    <!--//////////////////////select end//////////////////////////-->




    <!--//////////////////////insert start//////////////////////////-->

    <!--管理员添加字体
         name           字体名称
         manufacturerId  厂商编号
         typeId     类型编号
         encodingId 编码ID
         phylumId   语系编号
         styleId    风格编号
         copyrightMessage   版权信息
         used_time collected_time recommended_time 设置成 0 (因为刚添加的字体的使用次数 收藏次数 推荐次数没有)
         isOpensourced  是否开源：0.开源；1.不开源
         isGenuine  是否正版：0. 是正版；1.不是正版
         -->
    <insert id="addFont" parameterType="com.safewind.webfont.bean.Font"  useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO
        t_font
        (name , manufacturer_id ,  type_id ,  encoding_id , phylum_id ,
         style_id , copyright_message , used_time , collected_time ,
         recommended_time, upload_time,  is_opensourced, is_genuine)
        VALUES
         (#{name} , #{manufacturerId} ,#{typeId} , #{encodingId} ,
         #{phylumId}, #{styleId}, #{copyrightMessage}, 0 , 0, 0 ,
         NOW(), #{isOpensourced}, #{isGenuine})
    </insert>
    <!--//////////////////////insert end//////////////////////////-->




    <!--//////////////////////update start//////////////////////////-->
    <!--判断用户如果没有收藏字体，添加收藏字体，更新字体收藏的次数-->

    <update id="updateAddFontCollectTime"   parameterType="java.lang.Integer">
        UPDATE t_font
        SET collected_time=collected_time+1
        WHERE id=#{_parameter};
    </update>


    <!--判断用户如果要删除收藏字体，减少收藏字体，更新字体收藏的次数-->
    <update id="updateReduceFontCollectTime" parameterType="java.lang.Integer">
        UPDATE t_font
        SET collected_time=collected_time-1
        WHERE id=#{_parameter};
    </update>

    <!--管理员和用户修改字体的一些属性
    修改的属性有：
         name           字体名称
         manufacturerId  厂商编号
         typeId     类型编号
         encodingId 编码ID
         phylumId   语系编号
         styleId    风格编号
         copyrightMessage   版权信息
         isOpensourced  是否开源：0.开源；1.不开源

         isGenuine  是否正版：0. 是正版；1.不是正版
        目前测试不成功因为含有外键
    -->
    <update id="updateFont"  parameterType="com.safewind.webfont.bean.Font" >
        UPDATE  t_font
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != '' ">
                name = #{name},
            </if>
            <if test="manufacturerId != null and manufacturerId != 0">
                manufacturer_id = #{manufacturerId},
            </if>
            <if test="typeId != null and typeId != 0">
                type_id=#{typeId},
            </if>
            <if test="encodingId != null and encodingId  != 0">
                encoding_id=#{encodingId},
            </if>
            <if test="phylumId != null and phylumId != 0 ">
                phylum_id=#{phylumId},
            </if>
            <if test="styleId != null and styleId != 0">
                style_id=#{styleId},
            </if>
            <if test="copyrightMessage != null and copyrightMessage != '' ">
                copyright_message=#{copyrightMessage},
            </if>
            <if test="isOpensourced != null">
                is_opensourced=#{isOpensourced},
            </if>
            <if test="isGenuine != null">
                is_genuine=#{isGenuine},
            </if>
        </trim>
        WHERE id=#{id}
    </update>

    <!--//////////////////////update end//////////////////////////-->




    <!--//////////////////////delete start//////////////////////////-->
    <!--管理员删除某个字体 以字体id 删除字体 执行-->
    <delete id="deleteFont"  parameterType="java.lang.Integer">
          DELETE FROM  t_font WHERE id = #{_parameter}
    </delete>
    <!--//////////////////////delete end//////////////////////////-->



</mapper>