<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safewind.webfont.dao.ManufactureDao">
    <!--///////////////////select start/////////////////////////////-->
    <select id="findManufactureById" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT name
        FROM t_manufacturer
        WHERE id=#{id};
    </select>
    
    <select id="getAllManufacturers" resultType="com.safewind.webfont.bean.Manufacturer">
    	select id , name from t_manufacturer where 1=1;
    </select>
    <!--///////////////////select end/////////////////////////////-->

    <!--///////////////////insert start/////////////////////////////-->
    <!--添加厂商-->
    <insert id="addManufacturers" useGeneratedKeys="true" keyProperty="id" parameterType="com.safewind.webfont.bean.Manufacturer">
      INSERT INTO  t_manufacturer(name)   VALUES(#{name});
    </insert>
    <!--///////////////////insert end/////////////////////////////-->

    <!--////////////////////update start////////////////////////////-->
    <!--通过厂商id编号更新厂商名-->
    <update id="updateManufacturersName" parameterType="com.safewind.webfont.bean.Manufacturer">
        UPDATE t_manufacturer
        SET
        name = #{name}
        WHERE id = #{id};
    </update>
    <!--////////////////////update end////////////////////////////-->


    <!--////////////////////delete start////////////////////////////-->
    <!--删除某个厂商 需要注意:这操作有风险!!!!!-->
    <delete id="deleteManufacturers" parameterType="java.lang.Integer">
        DELETE
        FROM t_manufacturer
        WHERE id = #{_parameter}
    </delete>
    <!--////////////////////delete end////////////////////////////-->
</mapper>