<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safewind.webfont.dao.ManufactureDao">

    <resultMap id="manufacturer" type="com.safewind.webfont.bean.Manufacturer">

        <id column="id" property="id" />
        <result column="name" property="name" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="findManufactureById" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT name
        FROM t_manufacturer
        WHERE id=#{id}
    </select>
    
    <select id="getAllManufacturers" resultMap="manufacturer">
    	select * from t_manufacturer where 1=1;
    </select>
</mapper>