<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safewind.webfont.dao.PhylumDao">

    <!--//////////////////select start//////////////////////////////-->
    <select id="findPhylumById" resultType="java.lang.String">
        SELECT name
        FROM  t_phylum
        WHERE id= #{id};
    </select>
    
    <select id="getAllPhylums" resultType="com.safewind.webfont.bean.Phylum">
    	select id , name from t_phylum where 1=1;
    </select>

    <!--//////////////////select end//////////////////////////////-->



    <!--//////////////////insert start//////////////////////////////-->
    <!--添加字体语系-->
    <insert id="addPhylums" parameterType="com.safewind.webfont.bean.Phylum">
        INSERT INTO t_phylum(name) VALUES(#{name});
    </insert>
    <!--//////////////////insert end//////////////////////////////-->



    <!--//////////////////update start//////////////////////////////-->
        <!--修改字体语系的名字-->
    <update id="updatePhylumsName" parameterType="com.safewind.webfont.bean.Phylum">
        UPDATE t_phylum
        SET
        name = #{name}
        WHERE id = #{id};

    </update>
    <!--//////////////////update end//////////////////////////////-->



    <!--//////////////////delete start//////////////////////////////-->
    <!--//////////////////delete end//////////////////////////////-->


</mapper>