<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safewind.webfont.dao.PhylumDao">

    <!--//////////////////select start//////////////////////////////-->
    <select id="findPhylumById" resultType="java.lang.String">
        SELECT name
        FROM  t_phylum
        WHERE id= #{id};
    </select>
    
    <select id="getAllPhylums" resultType="com.safewind.webfont.bean.Phylum">
    	select * from t_phylum where 1=1;
    </select>

    <!--//////////////////select end//////////////////////////////-->



    <!--//////////////////insert start//////////////////////////////-->
    <!--//////////////////insert end//////////////////////////////-->



    <!--//////////////////update start//////////////////////////////-->
    <!--//////////////////update end//////////////////////////////-->



    <!--//////////////////delete start//////////////////////////////-->
    <!--//////////////////delete end//////////////////////////////-->


</mapper>