<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safewind.webfont.dao.RoleDao">

	
	<insert id="createRole" parameterType="com.safewind.webfont.bean.Role"
		useGeneratedKeys="true" keyProperty="id">
		
		insert into t_role
		(id,role,description,available)
		values
		(#{id},#{role},#{description},#{available})
	</insert>
	
	<select id="findIDByRoleName" resultType="java.lang.Long">
		select id from t_role where role=#{roleName}
	</select>
	
	<select id="queryAllRole" resultType="com.safewind.webfont.bean.Role">
		select id,role,description,available from t_role
	</select>

</mapper>