<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safewind.webfont.dao.StyleDao">
    <!--/////////////////select start///////////////////////////////-->
    <select id="findStyleById" resultType="java.lang.String" parameterType="java.lang.Integer">
        SELECT name
        FROM  t_style
        WHERE id = #{id};
    </select>

    
    <select id="getAllStyles" resultType="com.safewind.webfont.bean.Style">
    	select id , name from t_style where 1=1;
    </select>

    <!--//////////////////select end//////////////////////////////-->


    <!--//////////////////insert start//////////////////////////////-->
    <!--添加字体的风格-->
    <insert id="addStyles" parameterType="com.safewind.webfont.bean.Style">
        INSERT INTO t_style(name) VALUES(#{name});
    </insert>
    <!--//////////////////insert end//////////////////////////////-->

    <!--///////////////////update start/////////////////////////////-->
    <update id="updateStyles" parameterType="com.safewind.webfont.bean.Style">
        UPDATE t_style
        SET name = #{name}
        WHERE id = #{id};
    </update>
    <!--///////////////////update end/////////////////////////////-->


    <!--///////////////////delete start/////////////////////////////-->
    <!--////////////////////delete end////////////////////////////-->
</mapper>