<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.safewind.webfont.dao.UserDao">
	
	<select id="UserTest" resultType="com.safewind.webfont.bean.User">
		select * from t_user where id=#{id} and is_del = 0
	</select>
	
	<!--创建一个用户登录信息 -->
	<insert id="createUser" parameterType="com.safewind.webfont.bean.User"
		useGeneratedKeys="true" keyProperty="id">
		insert into
		t_user
		(
		username,password, salt,
		create_username,create_time,head_pic,content,
		status,rank,is_del,locked,validateCode
		)
		values
		(
		#{username},#{password},#{salt},
		#{createUsername},#{createTime},#{headPic},#{content},
		#{status},#{rank},#{isDel},#{locked},#{validateCode}
		);
	</insert>
	<!--更新信息 -->
	<update id="updateUser" parameterType="com.safewind.webfont.bean.User">
		update t_user set
		username=#{username}, password=#{password},
		salt=#{salt},
		locked=#{locked} where id=#{id};
	</update>

	<delete id="deleteUser">
		update t_user set
		is_del = 1
		where username = #{username};
	</delete>
	
	<select id="findByUsername" resultType="com.safewind.webfont.bean.User">
		select id, username,
		password, salt, locked, validateCode
		from t_user
		where username=#{username} and is_del = 0;
	</select>
	
	<select id="findRoles" parameterType="String" resultType="String">
		select
		r.role from t_user u, t_role r,t_user_role ur where
		u.username=#{username} and
		u.id=ur.user_id and r.id=ur.role_id;
	</select>
	
	<select id="findPermissions" parameterType="String" resultType="String">
		select permission
		from t_user u, t_role r, t_permission p,
		t_user_role ur,
		t_role_permission rp where
		u.username=#{username} and
		u.id=ur.user_id and
		r.id=ur.role_id and
		r.id=rp.role_id and
		p.id=rp.permission_id;
	</select>
	
	<insert id="UserRoleInsert">
		insert into t_user_role (user_id,role_id) values (#{0},#{1});
	</insert>
	
</mapper>